{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room app</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% block css %}
    {% endblock css %}

    {% block js %}
    {% endblock js %}
</head>
<body>
    <header>
        <h1>Room.app</h1>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <p>&copy; Room.app</p>
    </footer>

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
