{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room app</title>
    <link rel="stylesheet" href="{% static 'roomcss/home.css' %}">
    {% block css %}
    {% endblock css %}
    <script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrfToken3 = getCookie('csrftoken');
    
    </script>
    {% block jstop %}
    {% endblock jstop %}

</head>
<body>
    <header>
        <h1>Room.app</h1>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <p>&copy; Room.app</p>
    </footer>

    <script src="{% static 'roomjs/home.js' %}"></script>
    
    {% block js %}
    {% endblock js %}
</body>
</html>
