{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room app</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <h1>Room.app</h1>
    </header>
    <main>
        <div class="container">
            <form method="post" action="{% url 'home' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea name="text" rows="10" placeholder="Start Typing!" required></textarea>
                <input type="file" name="files" id="files" multiple>
                <br><br>
                    <strong>Valid for: </strong>{{form.time_choice}}
                <br>
                <br>
                <div class="buttons">
                    <button type="submit" class="btn" id="submitBtn" onclick="submitBtnclick('submitBtn')">Submit</button>
                    <!-- <button type="button" class="btn">Links</button>
                    <button type="button" class="btn">Upload</button>
                    <button type="button" class="btn">Download</button> -->
                </div>
            </form>
            <div id="roomcodebox">
            <h3>Your room code: <p style="font-style: italic;" id="roomcode">{{room_code}}</p></h3>
            <button type="button" class="btn" id="copyCode">Copy code</button>
            <h3>Your room link: <p style="font-style: italic;" id="roomlink">{{room_url}}</p></h3>
            <button type="button" class="btn" id="copyUrl">Copy link</button>
            </div>
            <h2>Enter room code/link: </h2>
            <form method="post" action="{% url 'room' %}">
                {% csrf_token %}
                <input type="text" name="code" placeholder="Enter room code">
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; Room.app</p>
    </footer>

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
