{% extends "room/base.html" %}
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Sharing Interface</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'roomcss/home.css' %}">
    <style>
    button {
        background-color: rgb(77, 77, 196);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 4px 8px;
        font-size: 16px;
        cursor: pointer;
        margin: 5px;
    }

    button:hover {
        background-color: rgb(83, 83, 232);
    }
    /* #done{
        visibility: hidden;
    }
    #loading{
        visibility: hidden;
    } */
    main{
       width: 100%;
    }
    
    .delfile{
       text-decoration: underline;
       color: red;
    }
    .eachfile{
       text-decoration: none;
       color: black;
       cursor: pointer;
    }
    .eachfile:hover{
        text-decoration: underline;
    }
    
    </style>
    {% endblock css %}

    {% block jstop %}
    <script>
        const ip_url = "{% url 'async' %}";
        const csrf = "{{ csrf_token }}";
        const lanAjaxUrl = "{% url 'lanAjax' %}";
        const latest = "{{ latest|escapejs }}";
        const fileURL = "{% url 'lanfiles' %}";
        let fileids = []
        "{% for file in files %}"
        fileids.push('{{ file.id }}');
        "{% endfor %}"
        console.log('FILE IDS ARRAY: ', fileids);
    </script>

    <script src="{% static 'lanjs/locale.js' %}"></script>
    <script src="{% static 'lanjs/getlan.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById('textinput').value = latest;
        });
        const loading = document.getElementById('loading');
        const done = document.getElementById('done');
        loading.style.display = "none";
        done.style.display = "none";

    </script>
    
    {% endblock jstop %}

    {% block content %}
    <p style="margin-left: 50px;">
        <a href="{% url 'home' %}">Go to home</a>
    </p>
    <main>
        
        <div class="container">
            <img src="{% static 'lanimg/reloading.gif' %}" width="30px" alt="loading" id="loading">
            <img src="{% static 'lanimg/done.png' %}" width="35x" alt="done" id="done">
            
                <button id="copyBtn">Copy text</button>
            <textarea name="text" rows="20" placeholder="Start Typing!" id="textinput" required></textarea>
            <form method="post" id="form3" enctype="multipart/form-data" action="{% url 'lanfiles' %}">
                {% csrf_token %}
                <input type="hidden" name="addr" id="addr">
                <input type="file" name="lanfile" id="fileinput" multiple>
                <div id="area">
                </div>
                <hr>
                <button type="submit" class="Alldownload" onclick="allFile(fileids)">Download all files</button>

                <div id="lanfiles">
                    {% for file in files %}
                    <a class="eachfile" href="#" onclick="sendReq('{{file.id}}')">
                        - {{ file.name }} | 
                    </a> 
                    <a class="delfile" href="{% url 'delfile' file.id %}" title="delete this file">&#10006;</a>
                    <br>
                    {% endfor %}
                </div>
                <div class="buttons">
                    <button type="submit" id="fileupload" style="padding: 3px;" class="btn">Upload files</button>
                </div>
            </form>
        </div>
        
    </main>
    {% endblock content %}