{% extends "base.html" %}
{% load static %}


    {% block jstop %}
    <script>
        const ip_url = "{% url 'async' %}";
        const csrf = csrfToken3;
        const lanAjaxUrl = "{% url 'lanAjax' %}";
        const latest = "{{ latest|escapejs }}";
        const fileURL = "{% url 'lanfiles' %}";
        const removeAll_Url = "{% url 'removeAll' %}";

        let fileids = [];
        "{% for file in files %}"
        fileids.push('{{ file.id }}');
        "{% endfor %}"
        console.log('FILE IDS ARRAY: ', fileids);
    </script>

    <script src="{% static 'lanjs/locale.js' %}"></script>
    <script src="{% static 'lanjs/getlan.js' %}"></script>  
    <script src="{% static 'lanjs/sendfiles.js' %}"></script>  

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById('textBox3').value = latest;
        });

    function getIP2(){
        document.getElementById('deleteBtn').innerText = "Wait. deleting all files.."
        fetch('https://api.ipify.org?format=json')
        .then(response => response.json())
        .then(data => {
            removeAll(data.ip);
        })
        .catch(error => {
            console.log('Error:', error);
        });
};

        function removeAll(ip){
            fetch(removeAll_Url, {
            method : "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken3,
            },
            body: JSON.stringify({
                'ip':ip,
            })
            })
            .then( location.reload() );
};

    </script>
    {% endblock jstop %}


    {% block content %}

        <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6">
            <div>
                <button class="px-1 py-1 bg-gray-500 text-white rounded mb-2 mt-0 copyBtn" style="font-family: 'Courier';">
                    <i class="fa-regular fa-copy"></i>
                    <span id="copyText">
                        Copy text
                    </span>
                </button>
                <i id="spinning" style="display: none;" class="p-0 ml-3 fa-solid fa-rotate text-2xl fa-spin text-gray-600 dark:text-gray-300 "></i>
                <i id="done" style="display: none;" class="p-0 ml-3 fa-solid fa-check text-green-600 text-3xl dark:text-green-300"></i>
            </div>

            <textarea id="textBox3" class="border border-gray-300 dark:border-gray-600 rounded-lg h-128 p-4 mb-4 w-full bg-white dark:bg-gray-700 text-black dark:text-white"
             placeholder=""></textarea>
             <button id="reloadBtn" class="px-2 py-1 text-white mb-2 reload">&#8634; Reload</button>

             <!-- USED FOR LINE BETWEEN FILE SECTION AND TEXT SECTION IN UI. DON'T DELETE -->

             <div class="line border-b-2 border-solid border-gray-400"></div>

             <input type="file" class="mt-5 rounded" style="display: none;" id="fileinput" name="lanfile" multiple>

            <div id="area" class="dark:bg-gray-800 selectedFiles" style="display: none;">
            </div>

             <button type="submit" id="selectFileBtn" class="px-2 py-1 bg-blue-600 text-white dark:bg-blue-500 rounded mb-3 mt-5 selectBtn"
             onclick="document.getElementById('fileinput').click()">
                 Select Files <i class="fa-solid fa-paperclip"></i> 
            </button>

             <button type="submit" id="fileupload" class="px-2 py-1 bg-green-600 text-white dark:bg-green-600 rounded mb-3 mt-5 uploadBtn"
                style="display: none;">
                <i class="fa-solid fa-file-arrow-up mr-1"></i> Upload Files
            </button>

            
            <!-- PROGRESS BAR -->
             <div id="progressSection" style="display: none;">
                <p>Wait files are being uploaded: <i id="progressPercent"></i></p>
                <div class="progress-bar-container" id="progressContainer">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
             </div>


            <div id="lanfiles" class="filesArea border border-gray-300 dark:border-gray-600 dark:bg-gray-800 mt-5 rounded-lg p-4">
                <div class="text-lg font-bold mb-5 filesTitle dark:text-white">Files in the Room<i class="italicText">(Click to download)</i>:</div>
                <ul class="list-disc list-inside space-y-2">
                    {% if files|length == 0 %}
                            <p class="no-files-text text-gray-500 dark:text-gray-400">
                                Currently there are No files in the Room.
                                <span style="text-decoration: underline; cursor: pointer;" onclick="document.getElementById('fileinput').click()">Upload some files</span>
                                to be shown here.
                            </p>
                    {% else %}
                    {% for file in files %}
                    <div class="file3">
                        <li class="eachFileRow flex justify-between items-center">
                            <a class="eachFile" href="#" onclick="sendReq('{{file.id}}')">
                                <span class="_file">- {{ file.name }}</span>
                            </a>
                            <a class="delfile" href="{% url 'delfile' file.id %}" title="delete this file"><i class="fa-solid fa-trash"></i></a>
                        </li>
                    </div>
                    <br>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>


            <div>
                <button class="px-2 py-1 bg-orange-700 text-white rounded mt-3 downloadBtn" onclick="allFile(fileids)">
                    <i class="fa-solid fa-file-arrow-down mr-1"></i> Download all Files
                </button>
                {% if files|length >= 10 %}
                <button id="deleteBtn" class="float-right px-2 py-1 bg-red-600 text-white rounded deleteBtn mt-3 ml-2" onclick="getIP2()">
                    <i class="fa-solid fa-trash mr-1"></i> delete all files
                </button>
                {% endif %}
                
            </div>
            
            <div class="flex justify-between items-center mt-4">
                <!-- JUST here to create a gap. Don't remove below div element blindly -->
                <div>
                </div>
                

                <div class="flex space-x-2">
                    <button class="px-4 py-2 text-white rounded shareBtn">
                        <i class="fa-solid fa-share"></i> Share
                    </button>
                    <!-- <button class="px-4 py-2 text-white rounded shareBtn">
                        Follow <i class="fa-solid fa-plus"></i></button> -->
                    <button class="px-4 py-2 text-white rounded shareBtn" id="tweetBtn">
                        Tweet <i class="fa-brands fa-x-twitter"></i></button>
                    <button class="px-4 py-2 text-white rounded shareBtn linkedinBtn" id="linkedinBtn">
                        Post on Linkedin <i class="fa-brands fa-linkedin"></i>
                    </button>
                </div>

            </div>

        </div>

    {% endblock content %}