{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6 aboutContent flex justify-center">

        <div class="aboutContent2 w-96">
            <span class="border-b border-gray-500 dark:border-white text-5xl">About Us</span>
            <br><br>
            <p>
                WE MAKE SHARING VERY SEAMLESS
            </p>
            <br><br>
            <p>
                If you type something in the text box or upload some files in your Room,
                then you can access those files and text from any devices connected in the same wifi.
                You can download files, delete files or upload new files in your Room.
                <br><br>
                We make sharing very seamless. If you want to share files with nearby people
                with whom you don't have a direct contact with.. then you can use Roomapp to share 
                instantly, instead of asking for an email or something else. You can also easily share computer
                programs or texts with people nearby, like in a computer lab or other places.
                <br><br>
                It's a Roomapp where every network/wifi will act like a separate Room.
                You can share files and synchronize text very seamlessly on that Room, users not connected
                to your wifi/network can't those those things.
            </p>
        </div>
    </div>

{% endblock content %}

{% block js %}
<script>
    document.getElementById('friendBtn').addEventListener('click', function() {
    document.getElementById('overlay').style.display = 'flex';
});

document.getElementById('closeBtn').addEventListener('click', function() {
    document.getElementById('overlay').style.display = 'none';
});
</script>
{% endblock js %}
