{% extends "base.html" %}
{% load static %}

{% block css %}
<style>
.faqContent {
    max-width: 800px;
    margin: 0 auto;
    word-break: break-all;
}

.faqQuestion {
    transition: font-weight 0.2s, transform 0.3s;
    cursor: pointer;
}

.faqQuestion:hover {
    font-weight: bold;
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.faqQuestion:active {
    transform: scale(0.95); /* Slightly shrink the button when clicked */
}
</style>
{% endblock css %}


{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const questions = document.querySelectorAll(".faqQuestion");
        questions.forEach(question => {
            question.addEventListener('click', function() {
                const answer = this.nextElementSibling;
                const icon = this.querySelector('i');
                
                if (answer.classList.contains("hidden")) {
                    answer.classList.remove("hidden");
                    answer.classList.add("block");
                    icon.classList.remove("fa-chevron-down");
                    icon.classList.add("fa-chevron-up");
                    question.classList.add("font-bold");
                } else {
                    question.classList.remove("font-bold");
                    answer.classList.remove("block");
                    answer.classList.add("hidden");
                    icon.classList.remove("fa-chevron-up");
                    icon.classList.add("fa-chevron-down");
                }
            });
        });
    });
</script>
{% endblock js %}


{% block content %}
<div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6 faqContent">
    <div class="text-center">
        <h1 class="text-5xl dark:border-white mb-4">
            <span class="border-b border-gray-500">FAQ</span>
        </h1>
        <p>Welcome to the FAQ page. Here you will find answers to the most commonly asked questions.</p>
    </div>


    <div class="mt-6">
            <button class="faqQuestion">
                <span>&#8227; What is Roomapp?</span>
                <i class="fa fa-chevron-down"></i>
            </button>
        <div class="faqAnswer hidden">
            <p>We've explained it <a href="{% url 'about' %}" class="underline text-blue-600 dark:text-blue-300">Here.</a></p>
        </div>
    </div>
    <div class="mt-6">
        <button class="faqQuestion">
            <span>&#8227; How long my files last?</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="faqAnswer hidden">
            <p>
                Your files are automatically deleted after 5 days. However, we do keep them for backup purpose for 30 days.
                So if you important files in Room and later want it then please Contact Us at Roomapp@contact.com . After
                30 days the files will be permanently deleted from our system, so make sure to reach out before 30 days.
            </p>
        </div>
    </div>
    <div class="mt-6">
        <button class="faqQuestion">
            <span>&#8227; Are my text/files safe ?</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="faqAnswer hidden">
            <p>
                You text/files are absolutely safe. Users not connected to your wifi/network can't access those things.
            </p>
        </div>
    </div>
    <div class="mt-6">
        <button class="faqQuestion">
            <span>&#8227; How long my text last ?</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="faqAnswer hidden">
            <p>
                The latest text in the Room last forever. The old texts are permanently deleted after 5 days from our system.
                If you want certain text then reach out to us before 5 days.
            </p>
        </div>
    </div>
    <div class="mt-6">
        <button class="faqQuestion">
            <span>&#8227; Can people see my file uploading history even if I delete files?</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="faqAnswer hidden">
            <p>
                No they can't. Not even the ones in your Room.
            </p>
        </div>
    </div>
    <div class="mt-6">
        <button class="faqQuestion">
            <span>&#8227; Will files in the Room be on original quality?</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="faqAnswer hidden">
            <p>
                The files uploaded in the Room are on full original quality. They're not compressed even slightly.
            </p>
        </div>
    </div>
    <div class="mt-6">
        <button class="faqQuestion">
            <span>&#8227; Maximum file size i can upload?</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="faqAnswer hidden">
            <p>
                There's no limit on file size currently, you can upload any size. But too bigger file might take longer time
                to upload. If your file is lot bigger then Request timeout might happen.
            </p>
        </div>
    </div>
    <div class="mt-6">
        <button class="faqQuestion">
            <span>&#8227; I found that my text/files are shared with other wifi in my office. why?</span>
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="faqAnswer hidden">
            <p>
                Because your office is utilizing the same network through different wifi names. If your wifi is part of bigger
                network, which could be common on organization/institution, then the text/files are synchronized with other wifi of
                that network too.
            </p>
        </div>
    </div>

</div>
{% endblock content %}
