body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.goLocale{
    background-color: rgb(68, 34, 205);
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
.goLocale:hover{
    background-color: rgb(51, 0, 255);
}

.Alldownload{
    margin-top: 10px;
    background-color: rgb(204, 105, 105);
    border: 0px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.Alldownload:hover{
    background-color:  rgb(170, 84, 84);
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#copyCode{
    padding: 5px;
}

#copyUrl{
    padding: 5px;
}

.btn:hover {
    background-color: #1c73cf;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.room-text {
    white-space: pre-wrap;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
