{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomapp</title>


    <script src="https://kit.fontawesome.com/187b847ba0.js" crossorigin="anonymous"></script>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static 'lancss/styles.css' %}">
    <link rel="stylesheet" href="{% static 'lancss/footer.css' %}">
    <script src="{% static 'lanjs/scripts.js' %}"></script>

    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    },
                    spacing: {
                        '128': '28rem', // Custom height for the text box
                    }
                }
            }
        }
    </script>

<style>
    .open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .open span:nth-child(2) {
        opacity: 0;
    }
    .open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
</style>

    {% block css %}
    {% endblock css %}

    <script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrfToken3 = getCookie('csrftoken');

    </script>

    {% block jstop %}
    {% endblock jstop %}

</head>



<body class="bg-gray-100 text-black dark:bg-gray-900 dark:text-white font-sans leading-normal tracking-normal">

    <header class="bg-white dark:bg-gray-800 shadow">
        <div class="container mx-auto flex justify-between items-center py-4 px-6 flex-wrap">
            <div class="flex items-center w-full sm:w-auto mb-4 sm:mb-0 justify-between">
                <div class="p-0 m-0 w-full sm:w-56 text-center sm:text-left">
                    <a href="{% url 'lan' %}" class="flex justify-center sm:justify-start items-center">
                        <img src="{% static 'lanimg/Roomapp.png' %}" class="logo dark:rounded-xl" alt="logo">
                    </a>
                    <i class="ml-3 dark:text-gray-300 text-sm sm:text-base block sm:inline">Share anything Instantly</i>
                </div>
                <div class="block sm:hidden">
                        <div class="relative">
                            <button id="menu-toggle" class="focus:outline-none">
                                <div id="menu-icon" class="space-y-2">
                                    <span class="block w-8 h-0.5 bg-gray-600 transform transition duration-300"></span>
                                    <span class="block w-8 h-0.5 bg-gray-600 transform transition duration-300"></span>
                                    <span class="block w-8 h-0.5 bg-gray-600 transform transition duration-300"></span>
                                </div>
                            </button>
                        </div>
                </div>
            </div>
            <nav id="mobile-menu" class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 space-x-0 sm:space-x-8 w-full sm:w-auto hidden sm:flex hide">
                <a href="{% url 'lan' %}" class="text-gray-900 hover:text-red-500 dark:text-gray-300 dark:hover:text-red-500">
                    <i class="fa-solid fa-house"></i> Home
                </a>
                <a href="{% url 'about' %}" class="text-gray-900 hover:text-red-500 dark:text-gray-300 dark:hover:text-red-500">
                    What is Roomapp <i class="fa-regular fa-circle-question"></i>
                </a>
                <div class="relative">
                    <button id="support-button" class="text-gray-900 hover:text-red-500 dark:text-gray-300 dark:hover:text-red-500">Support <i class="fa fa-caret-down"></i></button>
                    <div id="support-dropdown" class="absolute hidden bg-white dark:bg-gray-800 shadow-md mt-2 py-2 w-48">
                        <a href="{% url 'faq' %}" class="block px-4 py-2 text-gray-900 hover:text-red-500 dark:text-gray-300 dark:hover:text-red-500">FAQ</a>
                        <a href="#" class="block px-4 py-2 text-gray-900 hover:text-red-500 dark:text-gray-300 dark:hover:text-red-500">Contact</a>
                    </div>
                </div>
            </nav>
            <div class="flex items-center space-x-4 w-full sm:w-auto justify-center sm:justify-end mt-4 sm:mt-0 night-mode-toggle">
                <div class="flex items-center ml-3">
                    <input type="checkbox" id="theme-toggle" class="toggle-checkbox hidden" />
                    <span class="mr-3" id="darkText">Night Mode</span>
                    <label for="theme-toggle" class="toggle-label block w-14 h-8 rounded-full cursor-pointer bg-gray-300 dark:bg-gray-600 relative">
                        <span id="darkSwitch" class="absolute left-1 top-1 w-6 h-6 bg-white rounded-full transform transition-transform"></span>
                    </label>
                </div>
            </div>
        </div>
    </header>
    
    


    <main class="container mx-auto mt-5 px-6">

        {% block content %}
        {% endblock content %}

    </main>


    <footer class="bg-white dark:bg-gray-800 shadow mt-8">
        <div class="container mx-auto px-6 py-4 flex flex-col justify-center items-center">
            <div class="text-sm text-gray-500 dark:text-gray-400 text-center mb-2">
                © 2024 Roomapp - share anything instantly. Share Text & Files between your devices connected on the same wifi/network.
                <br>
                Shared files are on full original quality and are not compressed.
            </div>
            <div class="flex space-x-4 justify-center">
                <a href="#" class="text-sm text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700 px-3 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-600 hover:text-blue-600 dark:hover:text-blue-400">Privacy Policy</a>
                <a href="#" class="text-sm text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700 px-3 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-600 hover:text-blue-600 dark:hover:text-blue-400">Contact Us</a>
            </div>
        </div>
        <div class="container mx-auto px-6 py-2 text-center mt-2 border-t border-gray-200 dark:border-gray-700">
            <span class="text-sm text-gray-500 dark:text-gray-400">Version 2.0.0</span>
        </div>
    </footer>
    
    
    <script>
  document.addEventListener("DOMContentLoaded", () => {

        const supportButton = document.getElementById('support-button');
        const supportDropdown = document.getElementById('support-dropdown');
        supportButton.addEventListener('click', () => {
            supportDropdown.classList.toggle('hidden');
        });
        // Close dropdown if clicked outside
        document.addEventListener('click', (event) => {
            if (!supportButton.contains(event.target) && !supportDropdown.contains(event.target)) {
                supportDropdown.classList.add('hidden');
            }
        });


    document.getElementById('menu-toggle').addEventListener('click', function() {
      var mobileMenu = document.getElementById('mobile-menu');
      if (mobileMenu.classList.contains('show')) {
        mobileMenu.classList.remove('show');
        mobileMenu.classList.add('hide');
      } else {
        mobileMenu.classList.remove('hide');
        mobileMenu.classList.add('show');
      }
    });
  });
</script>
    
    {% block js %}
    {% endblock js %}
</body>
</html>